In [1]:
import pandas as pd

In [4]:
sample_data = {'name': ['John', 'Alia', 'Ananya', 'Steve', 'Ben'],
'gender': ['M', 'F', 'F', 'M', 'M'],
'communication_skill_score': [40, 45, 23, 39, 39],
'quantitative_skill_score': [38, 41, 42, 48, 32]}

data = pd.DataFrame(sample_data, columns = ['name', 'gender','communication_skill_score', 'quantitative_skill_score'])

data['communication_skill_score'].mean(axis=0)

37.2

In [5]:
data['communication_skill_score'].mode()

0    39
dtype: int64

In [6]:
data['communication_skill_score'].median()

39.0

In [7]:
column_range = data['communication_skill_score'].max() - data['communication_skill_score'].min()
print(column_range)

22

In [10]:
q1 = data['communication_skill_score'].quantile(0.25)
print(q1)
print('\n')

q3 = data['communication_skill_score'].quantile(0.75)
print(q3)
print('\n')

iqr = q3-q1
print(iqr)

39.0


40.0


1.0

In [11]:
data['communication_skill_score'].var()

69.2

In [12]:
data['communication_skill_score'].std()

8.318653737234168

In [13]:
data.describe()

       communication_skill_score  quantitative_skill_score
count                   5.000000                  5.000000
mean                   37.200000                 40.200000
std                     8.318654                  5.848077
min                    23.000000                 32.000000
25%                    39.000000                 38.000000
50%                    39.000000                 41.000000
75%                    40.000000                 42.000000
max                    45.000000                 48.000000

In [14]:
data['communication_skill_score'].skew()

-1.704679180800373

In [15]:
data['communication_skill_score'].kurtosis()

3.6010641852384015

In [16]:
data.cov()

                           communication_skill_score  quantitative_skill_score
communication_skill_score                      69.20                     -6.55
quantitative_skill_score                       -6.55                     34.20

In [17]:
data.corr(method='pearson')

                           communication_skill_score  quantitative_skill_score
communication_skill_score                    1.00000                  -0.13464
quantitative_skill_score                    -0.13464                   1.00000

In [18]:
import numpy as np
from scipy.stats import ttest_1samp

In [19]:
data = np.array([63, 75, 84, 58, 52, 96, 63, 55, 76, 83])
mean_value = data.mean()
print(mean_value)

70.5

In [20]:
# One sample t-test
t_test_value, p_value = ttest_1samp(data, 68)
print("P value is ", p_value)
print("T test value is ", t_test_value)

if(p_value<0.05):
    print("Hypotheis rejected")
else:
    print("Hypothesis accepted")

P value is  0.5986851106160134
T test value is  0.5454725779039431
Hypothesis accepted

In [21]:
from scipy.stats import ttest_ind

In [22]:
data1=np.array([63, 75, 84, 58, 52, 96, 63, 55, 76, 83])
data2=np.array([53, 43, 31, 113, 33, 57, 27, 23, 24, 43])

In [23]:
# Two sample t-test

stat, p = ttest_ind(data1, data2)
print("P value is ", p)
print("T test value is ", stat)

if(p<0.05):
    print("Hypotheis rejected")
else:
    print("Hypothesis accepted")

P value is  0.015170931362451255
T test value is  2.6835879913819185
Hypotheis rejected

In [24]:
from scipy.stats import ttest_rel

In [25]:
data1=np.array([63, 75, 84, 58, 52, 96, 63, 65, 76, 83])
data2=np.array([53, 43, 67, 59, 48, 57, 65, 58, 64, 72])

In [27]:
# Paired sample t-test

stat, p = ttest_rel(data1, data2)
print("P value is ", p)
print("T test value is ", stat)

if(p<0.05):
    print("Hypotheis rejected")
else:
    print("Hypothesis accepted")

P value is  0.013685575312467715
T test value is  3.0548295044306903
Hypotheis rejected

In [28]:
from scipy.stats import f_oneway

In [29]:
mumbai=[0.14730927, 0.59168541, 0.85677052, 0.27315387, 0.78591207,0.52426114, 0.05007655, 0.64405363, 0.9825853, 0.62667439]

chicago=[0.99140754, 0.76960782, 0.51370154, 0.85041028, 0.19485391,0.25269917, 0.19925735, 0.80048387, 0.98381235, 0.5864963 ]

london=[0.40382226, 0.51613408, 0.39374473, 0.0689976 , 0.28035865,0.56326686, 0.66735357, 0.06786065, 0.21013306, 0.86503358]

In [30]:
# Compare results using Oneway ANOVA
stat, p = f_oneway(mumbai, chicago, london)
print("p-values:", p)
print("ANOVA:", stat)
if(p<0.05):
    print("Hypothesis Rejected")
else:
    print("Hypothesis Accepted")

p-values: 0.27667556390705783
ANOVA: 1.3480446381965452
Hypothesis Accepted

In [31]:
from scipy.stats import chi2_contingency

In [32]:
average=[20, 16, 13, 7]

outstanding=[31, 40, 60, 13]

contingency_table= [average, outstanding]

In [33]:
stat, p, dof, expected = chi2_contingency(contingency_table)
print("p-values:",p)
if(p<0.05):
    print("Hypothesis Rejected")
else:
    print("Hypothesis Accepted")

p-values: 0.059155602774381234
Hypothesis Accepted

In [34]:
from scipy.stats import mannwhitneyu

data1=[7,8,4,9,8]
data2=[3,4,2,1,1]

In [35]:
stat, p = mannwhitneyu(data1, data2)
print("p-values", p)

if(p<0.01):
    print("Hypothesis rejected")
else:
    print("Hypothesis accepted")

p-values 0.007666581056801412
Hypothesis rejected

In [38]:
from scipy.stats import wilcoxon

data1 = [1, 3, 5, 7, 9]
data2 = [2, 4, 6, 8, 10]

In [39]:
stat, p = wilcoxon(data1, data2)
print("p-values:",p)

if p < 0.01:
    print("Hypothesis Rejected")
else:
    print("Hypothesis Accepted")

p-values: 0.0625
Hypothesis Accepted

In [40]:
from scipy.stats import kruskal

x = [38, 18, 39, 83, 15, 38, 63, 1, 34, 50]
y = [78, 32, 58, 59, 74, 77, 29, 77, 54, 59]
z = [117, 92, 42, 79, 58, 117, 46, 114, 86, 26]

In [41]:
stat, p = kruskal(x,y,z)
print("p-values:",p)

if p < 0.01:
    print("Hypothesis Rejected")
else:
    print("Hypothesis Accepted")

p-values: 0.01997922369138151
Hypothesis Accepted